USE [master]
GO
/****** Object:  Database [EVS338]    Script Date: 11/25/2018 5:35:47 PM ******/
CREATE DATABASE [EVS338]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EVS338', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.FAISAL\MSSQL\DATA\EVS338.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EVS338_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.FAISAL\MSSQL\DATA\EVS338_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EVS338].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EVS338]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](50) NOT NULL,
	[AdminEmail] [varchar](50) NOT NULL,
	[AdminPass] [varchar](50) NOT NULL,
	[AdminImage] [varchar](500) NULL,
	[AdminContact] [varchar](50) NOT NULL,
	[AdminCountry] [varchar](500) NULL,
	[AdminJob] [varchar](50) NOT NULL,
	[AdminAbout] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BankAccountDetails]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BankAccountDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankName] [varchar](50) NOT NULL,
	[AccountNumber] [varchar](100) NOT NULL,
	[BranchCode] [varchar](50) NOT NULL,
	[BranchName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.BankAccountDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IpAddress] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryTitle] [varchar](50) NOT NULL,
	[CategoryDesc] [varchar](500) NOT NULL,
	[CategoryLink] [varchar](100) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyAddresses]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyAddresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[ShopNumber] [varchar](20) NOT NULL,
	[Area] [varchar](500) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[MobileNumber] [varchar](20) NOT NULL,
	[EmailAddress] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.CompanyAddresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Subject] [varchar](200) NOT NULL,
	[Message] [varchar](5000) NULL,
 CONSTRAINT [PK_dbo.ContactUs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerOrders]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DueAmount] [float] NOT NULL,
	[InvoiceNo] [varchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderStatus] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CustomerOrders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[CustomerEmail] [varchar](100) NOT NULL,
	[CustomerPass] [varchar](50) NOT NULL,
	[CustomerCountry] [varchar](100) NOT NULL,
	[CustomerCity] [varchar](100) NOT NULL,
	[CustomerContact] [varchar](100) NOT NULL,
	[CustomerAddress] [varchar](500) NOT NULL,
	[CustomerImage] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EasyPaisaDetails]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EasyPaisaDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
	[NICNumber] [varchar](50) NOT NULL,
	[MobileNumber] [varchar](20) NOT NULL,
	[AccountName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.EasyPaisaDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payments](
	[CustomerId] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[InvoiceNo] [varchar](50) NOT NULL,
	[Amount] [varchar](50) NOT NULL,
	[PaymentMode] [varchar](100) NOT NULL,
	[ReferenceNo] [varchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[CustomerIp] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Payments] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryTitle] [varchar](50) NOT NULL,
	[ProductCategoryDesc] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ProductTitle] [varchar](50) NOT NULL,
	[ProductImg1] [varchar](500) NOT NULL,
	[ProductImg2] [varchar](500) NOT NULL,
	[ProductImg3] [varchar](500) NOT NULL,
	[ProductPrice] [float] NOT NULL,
	[ProductDesc] [varchar](1000) NOT NULL,
	[ProductKeywords] [varchar](500) NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sizes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[size] [varchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Sizes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SlideName] [varchar](100) NOT NULL,
	[SlideImage] [varchar](500) NOT NULL,
 CONSTRAINT [PK_dbo.Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SocialMediaLinks]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SocialMediaLinks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[facebook] [varchar](200) NOT NULL,
	[twitter] [varchar](200) NOT NULL,
	[instagram] [varchar](200) NOT NULL,
	[googleplus] [varchar](200) NOT NULL,
	[youtube] [varchar](200) NOT NULL,
 CONSTRAINT [PK_dbo.SocialMediaLinks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WesternUnionDetails]    Script Date: 11/25/2018 5:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WesternUnionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[NICNumber] [varchar](50) NOT NULL,
	[MobileNumber] [varchar](20) NOT NULL,
	[AccountName] [varchar](100) NOT NULL,
	[Country] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.WesternUnionDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BankAccountDetails] ON 

INSERT [dbo].[BankAccountDetails] ([Id], [BankName], [AccountNumber], [BranchCode], [BranchName]) VALUES (1, N'UBL', N'70100900192', N'0423', N'Shadara Lahore')
SET IDENTITY_INSERT [dbo].[BankAccountDetails] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryTitle], [CategoryDesc], [CategoryLink]) VALUES (4, N'men', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,', N'/Shop/ByCategory/4')
INSERT [dbo].[Categories] ([Id], [CategoryTitle], [CategoryDesc], [CategoryLink]) VALUES (5, N'women', N'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', N'/Shop/ByCategory/5')
INSERT [dbo].[Categories] ([Id], [CategoryTitle], [CategoryDesc], [CategoryLink]) VALUES (6, N'kids', N'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.', N'/Shop/ByCategory/6')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[CompanyAddresses] ON 

INSERT [dbo].[CompanyAddresses] ([Id], [CompanyName], [ShopNumber], [Area], [City], [Country], [PhoneNumber], [MobileNumber], [EmailAddress]) VALUES (1, N'ComputerFever', N'Shop#304,First Floor', N'Center Plaza, Gulberg', N'Lahore', N'Pakistan', N'042-31245679', N'0313-1234567', N'computerfever@gmail.com')
SET IDENTITY_INSERT [dbo].[CompanyAddresses] OFF
SET IDENTITY_INSERT [dbo].[ContactUs] ON 

INSERT [dbo].[ContactUs] ([Id], [Time], [Name], [Email], [Subject], [Message]) VALUES (10, CAST(0x0000A95E011826C0 AS DateTime), N'Faisal', N'123@gmail.com', N'te', NULL)
INSERT [dbo].[ContactUs] ([Id], [Time], [Name], [Email], [Subject], [Message]) VALUES (11, CAST(0x0000A96100D2855C AS DateTime), N'Faisal', N'1234', N'Length', N'this is test message')
INSERT [dbo].[ContactUs] ([Id], [Time], [Name], [Email], [Subject], [Message]) VALUES (12, CAST(0x0000A96100D45FF8 AS DateTime), N'test', N'test', N'test', N'test')
SET IDENTITY_INSERT [dbo].[ContactUs] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [CustomerName], [CustomerEmail], [CustomerPass], [CustomerCountry], [CustomerCity], [CustomerContact], [CustomerAddress], [CustomerImage]) VALUES (1, N'Faisal', N'faisal@gmail.com', N'123467', N'Pakistan', N'Lahore', N'1234789', N'H#710,blah blach', N'Faisal.jpg')
INSERT [dbo].[Customers] ([CustomerId], [CustomerName], [CustomerEmail], [CustomerPass], [CustomerCountry], [CustomerCity], [CustomerContact], [CustomerAddress], [CustomerImage]) VALUES (1003, N'Rehan', N'rehan@gmail.com', N'1234', N'Pakistan', N'Lahore', N'123456789', N'Lahore', N'Faisal.jpg')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[EasyPaisaDetails] ON 

INSERT [dbo].[EasyPaisaDetails] ([Id], [CategoryName], [NICNumber], [MobileNumber], [AccountName]) VALUES (1, N'EasyPaisa', N'123-1234567-9', N'03131234567', N'Faisal Nadeem')
SET IDENTITY_INSERT [dbo].[EasyPaisaDetails] OFF
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [ProductCategoryTitle], [ProductCategoryDesc]) VALUES (1, N'jackets', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,')
INSERT [dbo].[ProductCategories] ([Id], [ProductCategoryTitle], [ProductCategoryDesc]) VALUES (2, N'accessories', N'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
INSERT [dbo].[ProductCategories] ([Id], [ProductCategoryTitle], [ProductCategoryDesc]) VALUES (3, N'shoes', N'Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([Id], [size], [ProductId]) VALUES (1, N'Small', 1)
INSERT [dbo].[Sizes] ([Id], [size], [ProductId]) VALUES (2, N'Medium', 1)
INSERT [dbo].[Sizes] ([Id], [size], [ProductId]) VALUES (3, N'Large', 1)
SET IDENTITY_INSERT [dbo].[Sizes] OFF
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Id], [SlideName], [SlideImage]) VALUES (1, N'slide1', N'admin_area/slides_images/1.jpg')
INSERT [dbo].[Sliders] ([Id], [SlideName], [SlideImage]) VALUES (2, N'slide2', N'admin_area/slides_images/2.jpg')
INSERT [dbo].[Sliders] ([Id], [SlideName], [SlideImage]) VALUES (3, N'slide3', N'admin_area/slides_images/3.jpg')
SET IDENTITY_INSERT [dbo].[Sliders] OFF
SET IDENTITY_INSERT [dbo].[SocialMediaLinks] ON 

INSERT [dbo].[SocialMediaLinks] ([id], [facebook], [twitter], [instagram], [googleplus], [youtube]) VALUES (1, N'#', N'#', N'#', N'#', N'#')
SET IDENTITY_INSERT [dbo].[SocialMediaLinks] OFF
SET IDENTITY_INSERT [dbo].[WesternUnionDetails] ON 

INSERT [dbo].[WesternUnionDetails] ([Id], [FullName], [NICNumber], [MobileNumber], [AccountName], [Country]) VALUES (1, N'Faisal Nadeem', N'123-1234567-9', N'03131234567', N'Faisal Nadeem', N'Pakistan')
SET IDENTITY_INSERT [dbo].[WesternUnionDetails] OFF
/****** Object:  Index [IX_CustomerId]    Script Date: 11/25/2018 5:35:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[Payments]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 11/25/2018 5:35:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductCategoryId]    Script Date: 11/25/2018 5:35:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductCategoryId] ON [dbo].[Products]
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 11/25/2018 5:35:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Sizes]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Sizes] ADD  DEFAULT ((0)) FOR [ProductId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payments_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_dbo.Payments_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_ProductCategoryId] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.ProductCategories_ProductCategoryId]
GO
ALTER TABLE [dbo].[Sizes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sizes_dbo.Products_product_Id] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sizes] CHECK CONSTRAINT [FK_dbo.Sizes_dbo.Products_product_Id]
GO
USE [master]
GO
